.body
a:link, a:visited, a:active 
{ text-decoration: none;
  font-family:Verdana,Sans-serif;
  font-size: 12px;
}
input,textarea, select
{
    color : #000000;
    font: normal 12px;
    border-collapse: collapse; 
    border: 1px solid #000000;
}
.maintable 
{
    border: 0px ; 
    width: 100%; 
    padding: 0px; 
    background-color: #FFFFFF} 
.regrow 
{
    font-family: Verdana,Sans-serif; 
    color: #000000; 
    font-weight: bold;
    background-color: #FFFFFF;
    font-size: 12px;} 
.headline            /*първи ред на форума,заглавие,тема,нач.на темата и т.н*/
{
    font-family: Verdana,Sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    background-color: darkgreen;
    font-size: 11px;} 
.forumrow 
{
    font-family: Verdana,Sans-serif; 
    color: #000000;
    background-color:lightgreen;
    font-size: 12px;} 
.mainrow a:link, a:visited, a:active
{ 
    text-decoration: none;}
.mainrow 
{
    font-family: Verdana,Sans-serif; 
    color: #000000;
    background-color: lightgreen;
    font-size: 12px; 
}/*color of the forum rows*/
.maintables 
{
    background-color: #FFFFFF; 
    width: 95%; 
    padding: 0px; 
    border: 1px solid; 
    cellspacing: no;
} /*main table for forum*/
#contforum
{
    width:100%;
    height:30px;
    background-color:#99FF99;
    margin-top: auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 4px 4px 5px #888;
    -moz-box-shadow: 4px 4px 5px #888;
}
#headforum
{
    width:100%;
    height:90px;
    background-color:#99FF99;
    margin-top: auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 4px 4px 5px #888;
    -moz-box-shadow: 4px 4px 5px #888;
    text-align: center;
    font-family: georgia,Gill,Helvetica,sans-serif;
    font-size:26px;
    font-weight: 500;
    text-shadow: gray 1mm 1mm 1px;
}

